.chrome-picker {
  max-width: 400px !important;
  width: 100% !important;
  border-radius: 1rem !important;
  overflow: hidden !important;
  background-color: #fff !important;
  color: #000 !important;
}
.dark {
  .chrome-picker {
    background-color: #27272a !important;
    color: #fff !important;
  }
}
#rc-editable-input-2 {
  border: none !important;
  outline: none !important;
}
